<!DOCTYPE html>
<html>
  <head>
    <title>Price Comparison Tool - ESILV A5 Scraping project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" >
  </head>

  <body>
    <header>
      <h1>Price Comparison Tool</h1>
      <h2>ESILV A5 Scraping project</h2>
      <h3>Annabel MERCERON and Rémi LOMBARD - DIA1</h3>
    </header>
    <main>
      <form method="POST">
        <label for="article">Article:</label>
        <input type="text" id="article" name="article" />
        <button type="submit">Search</button>
      </form>

      {% if prices %}
      <table>
        <tr>
          <th>Site</th>
          <th>Name of the article</th>
          <th>Price</th>
          <th>Image</th>
        </tr>
        {% for site in names %}
        <tr>
          <td>{{ site }}</td>
          <td>{{ names[site] }}</td>
          <td>{{ prices[site] }}</td>
          <td>{{ images[site] }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    </main>
  </body>
</html>